*{
  margin: 0;
  padding: 0;  
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #171f24;
}



.card{
width: 25%;
height: 40%;
background-color: darkmagenta;
display: flex;
flex-direction: row;
border-radius: 10px;
}

.h{
  font-family: 'Times New Roman', Times, serif;
  color: white;
  display: flex;
  justify-content: center;

}

.p{
  display: flex;
  justify-content: center;
  text-align: center;
}

.img-card{
  width: 50%;
  height: 100%;
  
  background-image: url(./Assets/Images/Coctel.jpg);
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border-top-left-radius: 10px ;
  border-bottom-left-radius: 10px ;
  
}

.main-card{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  text-align: center;
}

.button{
  width: 40%;
  margin: 0 auto;
}




